.container{
  height: 100vh;
  width: 100vw;
}

.content{
  height: 100%;
  width: 100%;
}

nav, aside{
  min-width: 10rem;
  height: 100%;
  display: flex;
  vertical-align: middle;
}

img{
  width: 100%;
}
